body {
}
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
section {
  min-height: 100vh;
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #171717;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #da0037;
  border-radius: 20px;
  transition: 400ms;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b9002e;
}
/* section settings */
#sec-1 {
  background-image: url("/assets/image/Web\ 1920\ –\ 1.png");
  background-position: 50% 100%;
}

#sec-2 {
  background-image: url("assets/image/Web\ 1920\ –\ 2.png");
}

/* Navigation Bar */

.navbar {
  overflow: hidden;
  position: relative;
  width: 296.5px;
  top: 8vh;
  right: -155vh;
  background-color: #da0037;
  border-radius: 30px;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.navbar a {
  float: left;
  color: #171717;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: poppins;
  transition: 400ms;
}

.navbar a:hover {
  background-color: #242424;
  color: #da0037;
  box-shadow: 0px;
}

.navbar a.active {
  background-color: #04aa6d;
  color: white;
}

/* Header */

.header {
  position: absolute;
  color: #da0037;
  font-family: poppins;
  text-align: left;
  font-size: 25px;
  top: 35%;
  right: 75.5%;
}

.name {
  position: absolute;
  color: #da0037;
  font-family: Poppins;
  font-weight: bolder;
  font-size: 70px;
  right: 62.5%;
  top: 37%;
}

/* Button */

.aboutme {
  background-color: #da0037;
  border-radius: 25px;
  color: #171717;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  padding: 14px 25px;
  font-family: verdana;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: #0000 3px;
  position: absolute;
  top: 48%;
  right: 79.3%;
  transition: 400ms;
}

.aboutme:hover {
  background-color: #242424;
  box-shadow: 0px 0px 0px;
}

/* About Me */

.headingsec2 {
  font-family: poppins;
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  top: 110%;
  right: 73.5%;
}
/* deco */
.box {
  background-color: #171717;
  color: #da0037;
  border-radius: 5px;
  width: 145px;
  height: 40px;
  font-family: Poppins;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  line-height: 40px;
  top: 120%;
  right: 54%;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.box2 {
  background-color: #171717;
  color: #da0037;
  border-radius: 5px;
  width: 185px;
  height: 40px;
  font-family: Poppins;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  line-height: 40px;
  top: 127%;
  right: 50%;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.box3 {
  background-color: #171717;
  color: #da0037;
  border-radius: 5px;
  width: 185px;
  height: 40px;
  font-family: Poppins;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  line-height: 40px;
  top: 135%;
  right: 52%;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

.box4 {
  background-color: #171717;
  color: #da0037;
  border-radius: 5px;
  width: 185px;
  height: 40px;
  font-family: Poppins;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  line-height: 40px;
  top: 143%;
  right: 55%;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

/* teks about me */

.description {
  text-align: left;
  font-family: poppins;
  position: absolute;
  top: 122%;
  right: 60.5%;
  font-size: 20px;
}
/* Contact Button */
.contact {
  background-color: #171717;
  color: #da0037;
  border-radius: 25px;
  padding: 14px 25px;
  font-family: verdana;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  box-shadow: #0000 3px;
  position: absolute;
  top: 158%;
  right: 78%;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  transition: 400ms ease;
}

.contact:hover {
  box-shadow: 0px 0px 0px;
  color: #da0037;
  background-color: #b80330;
}

/* social media */

.insta {
  position: absolute;
  top: 190%;
  right: 48%;
  font-size: 35px;
  color: #242424;
  transition: 400ms;
}

.insta:hover {
  color: #da0037;
}

.github {
  position: absolute;
  font-size: 35px;
  top: 190%;
  right: 44%;
  color: #222222;
  transition: 400ms;
}

.github:hover {
  color: #da0037;
}

.discord {
  color: #222222;
  position: absolute;
  font-size: 35px;
  top: 190.2%;
  right: 52%;
  transition: 400ms;
}

.discord:hover {
  color: #da0037;
}

@media screen and (max-width: 1536px) {
  .navbar {
    overflow: hidden;
    position: absolute;
    width: 296.5px;
    top: 8vh;
    right: 5%;
    background-color: #da0037;
    border-radius: 30px;
    box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02), 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), 12.5px 12.5px 10px rgba(0, 0, 0, 0.035), 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
      100px 100px 80px rgba(0, 0, 0, 0.07);
  }

  .header {
    position: absolute;
    color: #da0037;
    font-family: poppins;
    text-align: left;
    font-size: 25px;
    top: 35%;
    right: 78.8%;
  }

  .aboutme {
    position: absolute;
    top: 50%;
    right: 83.5%;
  }

  .box4 {
    position: absolute;
    right: 43%;
  }

  .contact {
    position: absolute;
    top: 159%;
    right: 84%;
  }

  .github {
    right: 54.3%;
    top: 192%;
  }

  .discord {
    right: 48.5%;
    top: 192%;
  }

  .insta {
    right: 60%;
    top: 192%;
  }

  #sec-2 {
    background-image: url("assets/image/Web\ 1920\ –\ 2.png");
    background-position: 50% 60%;
  }
}

@media screen and (max-width: 400px) {
  .navbar {
    position: absolute;
    right: 12%;
  }

  .header {
    position: absolute;
    right: 30%;
    top: 35%;
    font-size: 20px;
  }

  .name {
    position: absolute;
    right: 16%;
    top: 38%;
    font-size: 40px;
  }

  .aboutme {
    position: absolute;
    right: 36%;
    top: 46%;
  }

  .headingsec2 {
    position: absolute;
    right: 20%;
  }

  .box {
    opacity: 0;
  }

  .box2 {
    opacity: 0;
  }

  .box3 {
    opacity: 0;
  }

  .box4 {
    opacity: 0;
  }

  .description {
    text-align: justify;
    position: absolute;
    font-size: 14px;
    right: 4%;
  }

  .contact {
    position: absolute;
    right: 33%;
    top: 154%;
  }

  .github {
    position: absolute;
    right: 45.5%;
    top: 200%;
    color: #313131;
  }

  .discord {
    position: absolute;
    right: 29%;
    top: 200%;
    color: #313131;
  }

  .insta {
    right: 62%;
    top: 200%;
    color: #313131;
  }
}
